:root {
  --green: #5ac85a;
  --grey: #a1a1a1;
  --yellow: #e2cc68;
  --white: #fff;
  --dark-white: #ddd;
  --black: #333;
  --light-grey: #eee;
  --dark-grey: #bbb;
  --modal-background: rgba(255, 255, 255, 0.7);
  --modal-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --green: #328132;
  --grey: #383838;
  --yellow: #bea42f;
  --white: #1a1a1a;
  --dark-white: #ddd;
  --black: #c7c7c7;
  --light-grey: #4d4d4d;
  --dark-grey: #c4c4c4;
  --modal-background: rgba(255, 255, 255, 0.7);
  --modal-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}